@media screen and (max-width: 1800px) {
    .inner__wrap {
        &.move--left {
            .date-separator, .new-separator {
                &.hovered--comment {
                    &:before, &:after {
                        background: none;
                    }
                }
            }
            .post {
                &.same--root {
                    margin-left: 60px;
                    padding-left: 10px;
                    border-left: 4px solid #EEE;
                    div.post-profile-img__container {
                        .post-profile-img {
                            display: none;
                        }
                    }
                    .post__content {
                        width: 825px;
                    }
                    .post-body {
                        width: 736px;
                        border: none;
                        margin: 3px 0 0;
                    }
                }
                &.post--comment {
                    &.other--root {
                        .post-comment {
                            margin-left: 0;
                        }
                    }
                    &.same--root {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                .post-body {
                    float: none;
                    width: 750px;
                    margin: 3px 0 0;
                }
                .post__content {
                    width: 920px;
                }
                .post-header {
                    &.post-header-post {
                        width: auto;
                        float: none;
                        text-align: left;
                        padding-right: 0;
                    }
                    &.post-info {
                        display: none;
                        float: none;
                    }
                    .post-header-col {
                        &.post-header__reply {
                            float: right;
                            text-align: right;
                            .reply-link {
                                margin-right: 0;
                            }
                            .dropdown {
                                margin-left: 10px;
                            }
                        }
                    }
                    .post-info--hidden {
                        display: inline;
                        .post-info {
                            display: inline;
                            .post-profile-time {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .post-create__container {
        .post-create-body {
            max-width: 810px;
        }
    }
    .channel-intro {
        max-width: 810px;
    }
    .date-separator, .new-separator {
        &.hovered--comment {
            &:before, &:after {
                background: none;
            }
        }
    }
    .post {
        &.same--root {
            margin-left: 60px;
            padding-left: 10px;
            border-left: 4px solid #EEE;
            div.post-profile-img__container {
                .post-profile-img {
                    display: none;
                }
            }
            .post__content {
                width: 825px;
            }
            .post-body {
                width: 736px;
                border: none;
                margin: 3px 0 0;
            }
        }
        &.post--comment {
            &.other--root {
                .post-comment {
                    margin-left: 0;
                }
            }
            &.same--root {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        .post__content {
            width: 880px;
        }
        .post-header {
            &.post-header-post {
                width: auto;
                float: none;
                text-align: left;
                padding-right: 0;
            }
            &.post-info {
                display: none;
                float: none;
            }
            .post-header-col {
                &.post-header__reply {
                    float: right;
                    margin: 0;
                }
            }
            .post-info--hidden {
                display: inline;
                .post-info {
                    display: inline;
                    .post-profile-time {
                        width: auto;
                        margin: 0;
                    }
                }
            }
        }
        .post-body {
            margin: 3px 0 0;
            float: none;
            width: 750px;
        }
    }
}

@media screen and (max-width: 1140px) {
    .post {
        .post__content {
            width: 100%;
        }
        .post-header {
            .post-header-col {
                &.post-header__reply {
                    .reply-link {
                        margin-right: 0;
                    }
                    .dropdown {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .center-file-overlay {
        font-size: 1.5em;
    }
    .post {
        .post-header .post-header-col.post-header__reply {
            .comment-icon__container__hide {
                display: none;
            }
            .dropdown {
                @include opacity(1);
            }
            .comment-icon__container__show {
                @include opacity(1);
            }
        }
    }
    .signup-team__container {
        font-size: 1em;
    }
    .post {
        .post-header {
            .post-header-col {
                &.post-header__reply {
                    text-align: right;
                    display: inline-block;
                }
            }
        }
    }
}

@media (min-width: 992px){
    .modal-lg {
        width: 700px;
    }
}

@media screen and (min-width: 768px) {
    .second-bar {
        display: none;
    }
}

@media screen and (max-height: 640px) {
    .signup-team__container {
        padding: 30px 0;
        margin-bottom: 30px;
        font-size: 0.9em;
        .signup-team__name {
            font-size: 2em;
        }
    }
}
@media screen and (max-width: 768px) {
    .file-details__container {
        display: block;
        .file-details__preview {
            display: block;
            width: 100%;
            height: 150px;
            border-right: none;
            border-bottom: 1px solid #ddd;
            img {
                width: 64px;
                height: 64px;
            }
        }
        .file-details {
            height: auto;
        }
    }
    .center-file-overlay {
        font-size: 1.3em;
    }
    .date-separator, .new-separator {
        &.hovered--after {
            &:before {
                background: none;
            }
        }
        &.hovered--before {
            &:after {
                background: none;
            }
        }
    }
    .post {
        &.same--root {
            margin-left: 25px;
        }
        &:hover {
            background: none;
            .post-header .post-header-col.post-header__reply {
                .dropdown-toggle:after {
                    content: '...';
                }
            }
        }
        &.post--comment {
            &.other--root {
                &:hover {
                    background: none;
                }
            }
        }
        .post-header .post-header-col.post-header__reply {
            .dropdown-toggle:after {
                content: '...';
            }
        }
    }
    .signup-team__container {
        padding: 30px 0;
        margin-bottom: 30px;
        font-size: 0.9em;
        .signup-team__name {
            font-size: 2em;
        }
        .btn.btn-full {
            padding-left: 10px;
        }
        .btn {
            .icon, .fa {
                margin-right: 6px;
            }
        }
    }
    .modal {
        .info__label {
            text-align: left;
            padding-bottom: 5px;
        }
        .modal-header {
            .modal-action {
                margin-top: 10px;
            }
            .modal-title {
                float: none;
            }
            .btn {
                &.btn-primary {
                    margin: 8px 0 0 -10px;
                    float: none;
                }
            }
        }
    }
    .row--invite {
        .col-sm-6 {
            padding: 0;
        }
    }
    .settings-modal {
        &.display--content {
            .modal-header {
                display: none;
            }
            .settings-table {
                display: block;
                .settings-content {
                    &.minimize-settings {
                        display: block;
                        .section-edit {
                            text-align: left;
                        }
                    }
                }
                .settings-links {
                    display: none;
                }
                .modal-header {
                    display: block;
                    position: fixed;
                    width: 100%;
                    z-index: 5;
                }
                .modal-title {
                    padding-left: 20px;
                }
                .user-settings {
                    .tab-header {
                        display: none;
                    }
                    .divider-dark.first {
                        display: none;
                    }
                }
            }
        }
        .settings-table {
            .settings-content {
                &.minimize-settings {
                    padding: 0;
                    display: none;
                    .user-settings {
                        padding: 70px 20px 30px;
                    }
                }
            }
            .settings-links {
                background: #fff;
            }
            .nav {
                > li {
                    > a {
                        border-top: 1px solid #ddd;
                        font-size: 1.1em;
                        line-height: 2.7;
                        color: #555;
                        .glyphicon {
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
    }
    .post-create__container {
        .post-right__container & {
            padding: 0 1em;
        }
        form {
            padding: 0;
        }
        .post-create-body {
            padding-bottom: 10px;
            display: table;
            width: 100%;
            table-layout: fixed;
            .post-body__cell {
                display: table-cell;
                padding-left: 45px;
                .sidebar--right & {
                    padding-left: 0;
                }
            }
            .app__content & {
                .btn-file {
                    width: 45px;
                    padding: 0;
                    line-height: 36px;
                    bottom: -2px;
                    left: 0;
                    top: auto;
                }
            }
            .send-button {
                display: table-cell;
            }
        }
        .post-create-footer .msg-typing {
            display: none;
        }
    }
    .preview-container {
        .preview-div {
            margin-top: 0;
        }
        .remove-preview {
            width: 28px;
            height: 28px;
            left: auto;
            right: 0;
            top: 0;
            background: #444;
            background: rgba(#000, 0.5);
            text-align: center;
            &:after {
                display: none;
            }
            i {
                line-height: 29px;
                top: auto;
                right: auto;
                position: relative;
                font-size: 16px;
            }
        }
    }
    #navbar {
        .navbar-default {
            .navbar-header {
                margin: 0 -15px;
                .dropdown__icon {
                    background: url("../images/dropdown-icon.png");
                    width: 4px;
                    height: 16px;
                    @include background-size(100% 100%);
                    display: inline-block;
                }
            }
            .navbar-toggle {
                display: block;
            }
            .navbar-brand {
                white-space: nowrap;
            }
        }
    }
    body {
        &.white {
            .inner__wrap {
                >.row.content {
                    margin-bottom: -185px;
                }
            }
        }
    }
    .footer, .footer-pane, .footer-push {
        height: 187px;
    }
    .footer-pane {
        .footer-link {
            padding: 0;
            width: 100%;
            text-align: right;
            line-height: 1.7;
            &.copyright {
                width: 100%;
            }
        }
    }
    .search__clear {
        display: block;
    }
    .search-bar__container {
        padding: 0;
        height: 45px;
        background: $primary-color;
        color: #fff;
        &.focused {
            .sidebar__collapse {
                @include translateX(-45px);
            }
            .search__form {
                @include translateX(-45px);
                padding-left: 55px;
                padding-right: 24px;
            }
            .search__clear {
                @include translateX(0px);
            }
        }
        .search__form {
            border: none;
            @include translateX(0px);
            padding: 7px 20px 0 49px;
            height: 45px;
            position: relative;
            @include single-transition(all, 0.2s, linear);
            .glyphicon-refresh-animate {
                right: 33px;
                top: 15px;
                color: #fff;
                color: rgba(255,255,255,0.5);
            }
            .form-control {
                border: none;
                padding: 0 10px 0 31px;
                background: rgba(black, 0.2);
                @include border-radius(3px);
                color: inherit;
            }
        }
    }
    .sidebar--menu {
        @include single-transition(transform, 0.5s, ease);
        @include translate3d(290px, 0, 0);
        width: 290px;
        border: none;
        display: block;
        &.move--left {
            @include translate3d(0, 0, 0);
        }
    }
    .sidebar--left {
        @include single-transition(transform, 0.5s, ease);
        @include translate3d(-290px, 0, 0);
        width: 290px;
        border: none;
        &.sidebar--padded {
            padding-top: 0;
        }
        &.move--right {
            @include translate3d(0, 0, 0);
        }
        .badge {
            top: 13px;
        }
        > div {
            padding-bottom: 105px;
        }
        .team__header {
            display: none;
            @include clearfix;
        }
        .search__form {
            display: block;
        }
        .nav {
            li {
                &.dropdown.open {
                    padding-bottom: 25px;
                    ul {
                        clear: both;
                        background: #FFF;
                        border-radius: 3px;
                        top: 5px;
                        position: relative;
                        li {
                            a {
                                line-height: 30px;
                            }
                        }
                    }
                }
                h4 {
                    margin: 16px 0 8px;
                }
                > a {
                    font-size: 15px;
                    margin: 0;
                    line-height: 2.5;
                    &:hover, &:focus {
                        background: transparent;
                    }
                }
            }
        }
    }
    .sidebar--right {
        width: 100%;
        right: 0;
        @include translate3d(100%, 0, 0);
        z-index: 5;
        &.move--left {
            @include translate3d(0, 0, 0);
        }
        .sidebar__collapse, .sidebar__search-icon {
            display: block;
        }
        .sidebar--right__close {
            display: none;
        }
    }
    .inner__wrap {
        &.move--right {
            @include translate3d(290px, 0, 0);
            &:before {
                z-index: 9999;
                content: "";
                width: 100%;
                height: 100%;
                left: -15px;
                top: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
            }
        }
        &.move--left-small {
            @include translate3d(-290px, 0, 0);
            &:before {
                z-index: 9999;
                content: "";
                width: 100%;
                height: 100%;
                right: -15px;
                top: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
            }
        }
        &.move--left {
            margin: 0;
            @include translate3d(-100%, 0, 0);
        }
    }
    .modal {
        .modal-image {
            .image-wrapper {
                font-size: 12px;
                min-width: 280px;
                .modal-close {
                    @include opacity(1);
                }
            }
            .modal-button-bar {
                @include opacity(1);
            }
        }
    }
    .app__content {
        padding-top: 45px;
        margin: 0;
        .channel__wrap & {
            padding-top: 45px;
        }
        .channel-header {
            display: none;
        }
    }


    .channel__wrap {
        .row {
            &.header {
                display: block;
            }
        }
    }

    .post {
        .post-profile-img__container {
            display: none;
        }
        &.post--comment {
            &.other--root {
                .post-comment {
                    margin-left: 11px;
                }
            }
        }
        > div {
            &.post__content {
                padding: 0;
            }
        }
    }

    .post-comments {
        padding: 9px 21px 10px 10px !important;
    }
}
@media screen and (max-width: 640px) {
    .access-history__table {
        > div {
            display: block;
        }
        .access__report {
            margin: 0 0 15px 15px;
        }
        .access__date {
            div {
                margin-bottom: 15px;
            }
        }
    }
    .activity-log__table {
        > div {
            display: block;
        }
        .activity-log__report {
            width: 100%;
        }
        .activity-log__action {
            text-align: left;
            margin-top: 10px;
        }
    }
}
@media screen and (max-width: 480px) {
    .modal {
        .modal-body {
            max-height: 70%;
        }
        .settings-modal {
            &.display--content {
                .modal-body {
                    max-height: 90%;
                }
            }
        }
    }
    .member-div {
        padding: 8px 0;
        .member-drop, .member-role {
            position: relative;
            margin: 0px 0 0 44px;
            padding: 5px 0;
            top: 0;
            right: 0;
        }
        .open>.dropdown-menu {
            left: 0;
            right: auto;
        }
    }
    .sidebar--left {
        @include translate3d(-260px, 0, 0);
        width: 260px;
    }
    .inner__wrap {
        &.move--right {
            @include translate3d(260px, 0, 0);
        }
    }
    .modal {
        .modal-image {
            .modal-button-bar {
                line-height: 30px;
                padding: 5px;
            }
        }
    }
}
